ion-card {
    background-color: gray;
}

ion-card-title {
    color: black;
}

ion-card-content button-native {
    background-color: black;
}


.colored-font {
    color: black
}

p {
    font-family: Mont serrat;
    color: white;
}