<ion-header>
  <ion-toolbar>
    <ion-title>Pesquisa de Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de pesquisa -->
  <ion-searchbar [(ngModel)]="searchText" (ionInput)="filterBooks($event)"></ion-searchbar>

  <!-- Exibição dos livros filtrados -->
  <ion-list>
    <ion-item *ngFor="let livro of filteredBooks">
      <ion-thumbnail slot="start">
        <img [src]="livro.capa" alt="{{livro.titulo}}">
      </ion-thumbnail>
      <ion-label (click)="adicionarFavorito(livro)">
        <h2>{{livro.titulo}}</h2>
        <p>{{livro.autor}}</p>
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>